services:
  api:
    image: ghcr.io/sudheer628/group75-mlops-assignment/heart-disease-api:latest
    container_name: heart-disease-api
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      - MLFLOW_TRACKING_URI=https://mlflow-tracking-production-53fb.up.railway.app
    restart: always
    networks:
      - api-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api
    restart: always
    networks:
      - api-network

networks:
  api-network:
    driver: bridge